# This is a git submodule file with additional support for
# git-fleximod (https://github.com/ESMCI/git-fleximod)
#
# The additional flags supported by git-fleximod are
# fxtag - the tag associated with the submodule, this tag can be tested for
#         consistancy with the submodule hash using git-fleximod status
#         the hash can be updated to the tag using git-fleximod update
#
# fxrequired - indicates if a given submodule should be checked out on install
#              submoudules can be toplevel or internal and required or optional
#              toplevel means that the submodule should only be checked out if the
#              module is the toplevel of the git repo (is not a submodule itself)
#              internal means that the submodule is needed by the component whether
#              the component is toplevel or the submodule of another repo
#              required means that the submodule should always be checked out
#              optional means that the submodule should only be checked out if the
#              optional flag is provided to git-fleximod or the submodule name is
#              explicitly listed on the git-fleximod command line.
#
# fxsparse -   this is a path to a git sparse checkout file indicating that the
#              submodule should be checked out in sparse mode
#
# fxDONOTUSEurl    -   this field is used by git-fleximod test to insure that the url is pointing
#              to the official url of the repo and not to an unofficial fork.
#              It is intended for use of github workflows to test commits to protected
#              repository branches.
#

#-----------------------------
# Required CAM externals
#-----------------------------

[submodule "atmos_phys"]
    path = src/atmos_phys
    url = https://github.com/ESCOMP/atmospheric_physics
    fxtag = atmos_phys0_12_000
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/ESCOMP/atmospheric_physics

[submodule "carma"]
    path = src/physics/carma/base
    url = https://github.com/ESCOMP/CARMA_base.git
    fxtag = carma4_09
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/ESCOMP/CARMA_base.git

[submodule "chem_proc"]
    path = chem_proc
    url = https://github.com/ESCOMP/CHEM_PREPROCESSOR.git
    fxtag = chem_proc5_0_06
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/ESCOMP/CHEM_PREPROCESSOR.git

[submodule "clubb"]
    path = src/physics/clubb
    url = https://github.com/larson-group/clubb_release
    fxtag = clubb_4ncar_20240605_73d60f6_gpufixes_posinf
    fxsparse = ../.clubb_sparse_checkout
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/larson-group/clubb_release

[submodule "cosp2"]
    path = src/physics/cosp2/src
    url = https://github.com/CFMIP/COSPv2.0
    fxtag = v2.1.4cesm
    fxsparse = ../.cosp_sparse_checkout
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/CFMIP/COSPv2.0

[submodule "hemco"]
    path = src/hemco
    url = https://github.com/ESCOMP/HEMCO_CESM.git
    fxtag = hemco-cesm2_1_0_hemco3_9_0
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/ESCOMP/HEMCO_CESM.git

[submodule "oslo_aero"]
    path = src/chemistry/oslo_aero
    url = https://github.com/NorESMhub/OSLO_AERO
    fxtag = oslo_aero_3_0a004
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/OSLO_AERO.git

[submodule "pumas"]
    path = src/physics/pumas
    url = https://github.com/NorESMhub/PUMAS
    fxtag = noresm3_0_002_pumas_v1_38
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/PUMAS

[submodule "pumas-frozen"]
    path = src/physics/pumas-frozen
    url = https://github.com/ESCOMP/PUMAS
    fxtag = pumas_cam-release_v1.17_rename
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/ESCOMP/PUMAS

[submodule "rrtmgp-data"]
    path = src/physics/rrtmgp/data
    url = https://github.com/earth-system-radiation/rrtmgp-data.git
    fxtag = v1.8
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/earth-system-radiation/rrtmgp-data.git

[submodule "rte-rrtmgp"]
    path = src/physics/rrtmgp/ext
    url = https://github.com/earth-system-radiation/rte-rrtmgp.git
    fxtag = v1.7
    fxrequired = AlwaysRequired
    fxDONOTUSEurl = https://github.com/earth-system-radiation/rte-rrtmgp.git

#-----------------------------
# Optional CAM externals
#-----------------------------

[submodule "ali_arms"]
    path = src/physics/ali_arms
    url = https://github.com/ESCOMP/ALI-ARMS
    fxtag = ALI_ARMS_v1.0.1
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/ESCOMP/ALI-ARMS

[submodule "cloud_j"]
    path = src/chemistry/cloud_j
    url = https://github.com/geoschem/cloud-j.git
    fxtag = 7.7.3
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/geoschem/cloud-j.git

[submodule "geoschem"]
    path = src/chemistry/geoschem/geoschem_src
    url = https://github.com/geoschem/geos-chem.git
    fxtag = 14.4.3
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/geoschem/geos-chem.git

[submodule "hetp"]
    path = src/chemistry/hetp
    url = https://github.com/geoschem/heterogeneous-vectorized-or-parallel.git
    fxtag = geoschem_hetp_1.0
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/geoschem/heterogeneous-vectorized-or-parallel.git

[submodule "mpas"]
    path = src/dynamics/mpas/dycore
    url = https://github.com/MPAS-Dev/MPAS-Model.git
    fxtag = v8.2.1
    fxsparse = ../.mpas_sparse_checkout
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/MPAS-Dev/MPAS-Model.git

#-----------------------------
# Tools
#-----------------------------

[submodule "AeroTab"]
    path = tools/AeroTab
    url = https://github.com/NorESMhub/AeroTab
    fxtag = aerotab1_00_000
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/NorESMhub/AeroTab

[submodule "CUPiD"]
    path = tools/CUPiD
    url = https://github.com/NCAR/CUPiD.git
    fxtag = v0.1.4
    fxrequired = AlwaysOptional
    fxDONOTUSEurl = https://github.com/NCAR/CUPiD.git

#-----------------------------
# CESM libraries
#-----------------------------

[submodule "parallelio"]
    path = libraries/parallelio
    url = https://github.com/NCAR/ParallelIO
    fxtag = pio2_6_2
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NCAR/ParallelIO

[submodule "ccs_config"]
    path = ccs_config
    url = https://github.com/NorESMhub/ccs_config_noresm.git
    fxtag = ccs_config_noresm0.0.45
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/ccs_config_noresm.git

[submodule "cime"]
    path = cime
    url = https://github.com/NorESMhub/cime.git
    fxtag = cime6.1.73_noresm_v0
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/cime.git

#-----------------------------
# Share
#-----------------------------

[submodule "share"]
    path = share
    url = https://github.com/NorESMHub/NorESM_share
    fxtag = share1.1.9_noresm_v0
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMHub/NorESM_share

#-----------------------------
# Components
#-----------------------------

[submodule "cdeps"]
    path = components/cdeps
    url = https://github.com/NorESMHub/CDEPS.git
    fxtag = cdeps1.0.70_noresm_v5
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMHub/CDEPS.git

[submodule "cice6"]
    path = components/cice
    url = https://github.com/NorESMhub/NorESM_CICE
    fxtag = cesm_cice6_5_0_20240702_noresm_v4
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/NorESM_CICE

[submodule "cism"]
    path = components/cism
    url = https://github.com/NorESMhub/CISM-wrapper
    fxtag = cismwrap_2_2_006_noresm_v0
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/CISM-wrapper

[submodule "clm"]
    path = components/clm
    url = https://github.com/NorESMhub/CTSM
    fxtag = ctsm5.3.034_noresm_v7
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/CTSM

[submodule "cmeps"]
    path = components/cmeps
    url = https://github.com/NorESMhub/CMEPS.git
    fxtag = cmeps1.0.39_noresm_v1
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/NorESMhub/CMEPS.git

[submodule "mosart"]
    path = components/mosart
    url = https://github.com/ESCOMP/MOSART
    fxtag = mosart1.1.08
    fxrequired = ToplevelRequired
    fxDONOTUSEurl = https://github.com/ESCOMP/MOSART

[submodule "tools/AeroTab"]
    path = tools/AeroTab
    url = https://github.com/NorESMhub/AeroTab
