## Description of each diagnostic usermod directory

## Frequencies and usermod_dir are required
## Frequencies are mon, day, 6hr, 3hr, 1hr, subhr

## include_usermods is a comma-separated list of names of config sections
##  (default: none)
## Each config section must be present in this file

## COSP_on and use_aerocom default to False

[reduced]
usermod_dir = CMIP7_HistoryMin
frequencies = mon
COSP_on = False
use_aerocom = False
chemistry = trop_mam_oslo

[base]
usermod_dir = CMIP7_HistoryBase
frequencies = mon,day
COSP_on = False
use_aerocom = False
chemistry = trop_mam_oslo

[aerocom]
usermod_dir = CMIP7_HistoryAerocom
frequencies = mon,day
COSP_on = False
use_aerocom = True
chemistry = trop_mam_oslo

[HighFrequency]
usermod_dir = CMIP7_HistoryHF
frequencies = mon, day, 6hr,3hr, 1hr, subhr
COSP_on = False
use_aerocom = True
chemistry = trop_mam_oslo

[max]
usermod_dir = CMIP7_HistoryCosp
frequencies = mon, day, 6hr,3hr, 1hr, subhr
COSP_on = True
use_aerocom = True
chemistry = trop_mam_oslo

[reduced_esm]
usermod_dir = CMIP7_HistoryMinESM
frequencies = mon
COSP_on = False
use_aerocom = False
emission_driven = True
chemistry = trop_mam_oslo

[base_esm]
usermod_dir = CMIP7_HistoryBaseESM
frequencies = mon,day
COSP_on = False
use_aerocom = False
emission_driven = True
chemistry = trop_mam_oslo

[aerocom_esm]
usermod_dir = CMIP7_HistoryAerocomESM
frequencies = mon,day
COSP_on = False
use_aerocom = True
emission_driven = True
chemistry = trop_mam_oslo

[HighFrequency_esm]
usermod_dir = CMIP7_HistoryHFESM
frequencies = mon, day, 6hr,3hr, 1hr, subhr
COSP_on = False
use_aerocom = True
emission_driven = True
chemistry = trop_mam_oslo

[max_esm]
usermod_dir = CMIP7_HistoryCospESM
frequencies = mon, day, 6hr,3hr, 1hr, subhr
COSP_on = True
use_aerocom = True
emission_driven = True
chemistry = trop_mam_oslo
